.divider {
  position: relative;
}

.divider__divider {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.divider__button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background-color: var(--purple);
  border-radius: 50%;
  width: 6.4rem;
  height: 6.4rem;
}

@media screen and (min-width: 37.5em) {
  .divider__button {
    width: 9.6rem;
    height: 9.6rem;
  }
}

@media screen and (min-width: 50em) {
  .divider__button {
    left: 100%;
    transform: translateX(-100%);
  }
}

.divider__button--icon {
  width: 2.4rem;
}

@media screen and (min-width: 37.5em) {
  .divider__button--icon {
    width: 4.4rem;
  }
}
