/* VARIABLES */
:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

/* TYPOGRAPHY */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.font-reg {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
  letter-spacing: calc(25 / 100 * 1rem);
}
.font-very-bold {
  font-weight: 800;
}

.ff-body {
  font-size: 1.4rem;
}

.heading-sm {
  font-size: clamp(1.2rem, 3.2vw, 1.4rem);
}

.heading-md {
  font-size: clamp(2.4rem, 5.333vw, 3.2rem);
}

.heading-lg {
  font-size: clamp(5.6rem, 14.933vw, 10.4rem);
}

/* BASE */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: var(--light-grey);
}

@media screen and (max-width: 23.4374em) {
  html {
    font-size: 50%;
  }
}

/* APP */
.app {
  background-color: var(--white);
  width: min(91.4%, 84rem);
  margin: 8.8rem auto;
  padding: 4.8rem 2.4rem;
  border-radius: 2.4rem;
  border-bottom-right-radius: 10rem;
}

@media screen and (min-width: 27em) {
  .app {
    margin-top: 17.1rem;
  }
}

/* CALCULATOR */
.calculator {
  display: grid;
  gap: 3.2rem;
}
